<h1>TikTok Ad Accounts</h1>
<% if @ad_accounts %>
  <ul>
    <% @ad_accounts.each do |account| %>
      <li><%= account['account_name'] %> - <%= account['account_id'] %></li>
    <% end %>
  </ul>
<% else %>
  <p>No ad accounts found.</p>
<% end %>
