<!-- app/views/ad_companies/index.html.erb -->
<h1>Connect to Ad Companies</h1>
<div id="ad-companies-list">
  <% ['google', 'shopify', 'facebook', 'tiktok'].each do |company| %>
    <div class="company-item">
      <span><%= company.capitalize %></span>
      <% if company == 'tiktok' %>
        <%= link_to 'Connect', tiktok_auth_path, class: 'connect-button' %>
      <% elsif company == 'facebook' %>
         <%= link_to 'Connect', '/facebook/auth', class: 'connect-button' %>
      <% else %>
        <button class="connect-button" data-company="<%= company %>">Connect</button>
      <% end %>
    </div>
  <% end %>
</div>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.fetch-data-button').forEach(button => {
      button.addEventListener('click', () => {
        const accountId = button.dataset.accountId;
        fetch(`/tiktok_accounts/${accountId}/fetch_ad_accounts`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          }
        })
        .then(response => response.json())
        .then(data => {
          console.log(data); // Handle the data
          alert('Data fetched. Check the console for details.');
        })
        .catch(error => {
          console.error('Error:', error);
        });
      });
    });
  });
</script>
